In [ ]:
#Q1 wap to merge two tuples and remove duplicates

t1=(1,3,5,7,8)
t2=(2,4,6,8,5)
t3=t1+t2
duplicates = () 
for item in t3:
    if item not in duplicates:
        duplicates += (item,)

print("Merged tuple without duplicates:", duplicates)

Merged tuple without duplicates: (1, 3, 5, 7, 8, 2, 4, 6)

In [ ]:
#alternate method

t1=(1,3,5,7,8)
t2=(2,4,6,8,5)
t3=t1+t2
duplicate = []
for item in t3:
    if item not in duplicates:
      duplicate.append(item)

print("Merged tuple without duplicates:", tuple(duplicate))

Merged tuple without duplicates: (1, 3, 5, 7, 8, 2, 4, 6, 8, 5)

In [14]:
#Q2 wap to convert a tuple of integers to a tuple of strings 

t1=(1,2,3,4,5)
t2 = tuple(str(item) for item in t1)

print("Tuple of strings:", t2)

Tuple of strings: ('1', '2', '3', '4', '5')

In [28]:
#Q3 wap to find the frequency of each element in a tuple 

t1=(1,6,9,5,1,6,6,0)
freq = []

for item in t1:
    if item not in freq:
        freq.append(item)

new= tuple((item,t1.count(item)) for item in freq)

print("Frequencies:", new)

Frequencies: ((1, 2), (6, 3), (9, 1), (5, 1), (0, 1))

In [29]:
#Q4 wap to find the difference between two tuples 

t1 = (10, 20, 30, 40, 50)
t2 = (20, 40, 60)
diff = ()

for item in t1:
    if item not in t2:
        diff += (item,)  

print("Difference:", diff)

Difference: (10, 30, 50)

In [30]:
 #alternate method
t1 = (10, 20, 30, 40, 50)
t2 = (20, 40, 60)
diff= tuple(item for item in t1 if item not in t2)
print("Difference:",diff)

Difference: (10, 30, 50)

In [3]:
#Q5 wap to find the second largest element

t1=(2,78,65,49,98,32,0)
sort=(sorted(t1,reverse=True))
print("second largest:",sort[1])

second largest: 78

In [ ]:
#Q6 wap to check if a tuple is a subset of another tuple 

t1=(1,2,3,4,5,6)
t2=(2,4,6)
if all(item in t1 for item in t2):
    print("t2 is a subset of t1")
else:
    print("t2 is not a subset of t1")

t2 is a subset of t1

In [8]:
#Q7 wap to extract tuples having K digit elements 

K=2
data=[(47,22),(3,78),(22,53),(121,45),(7,1)]
extract=[]

for tup in data:
    if all(len(str(item))==K for item in tup):
        extract.append(tup)
print("Tuple with",K,"digit elemnts",extract)

Tuple with 2 digit elemnts [(47, 22), (22, 53)]

In [21]:
#Q8 wap to sort a list of tuples by the second item

list =[('for',2),('is',9),('to',7),('Go',5),('or',15),('a',13)]
sort= sorted(list, key= lambda tup:tup[1])
print("second item:",sort)

second item: [('for', 2), ('Go', 5), ('to', 7), ('is', 9), ('a', 13), ('or', 15)]

In [13]:
#Q9 wap to remove an element from tuple 

t1=("yashi",98,"red",8800)
element =(input("enter an element to remove:"))
new= list(t1)
new.remove(element)
print(tuple(new))

(98, 'red', 8800)

In [ ]:
#Q10 wap to compute the element wise sum of given tuples

t1=(1,2,3,4)
t2=(3,5,2,1)
t3=(2,2,3,1)

#sum = tuple(sum(group) for group in zip(*t1))

#or 

sum= tuple([t1[index] + t2[index] + t3[index] for index in range(len(t1))])

print("Element-wise sum:", sum)

Element-wise sum: (6, 9, 8, 6)